Database: MSSQL

Migration Source schema.tables (from folder source schema):
- [case-migration].dbo.stg_case_inprogress | as a master table
- [case-migration].dbo.stg_sla_per_owner
- [case-migration].dbo.stg_case_document_reference

Mogration Destination database schema.tables (from folder destination schema):
- [case-management].dbo.case_transaction | as a master table
- [case-management].dbo.case_transaction_comment | as a details of case_transaction 
- [case-management].dbo.case_transaction_document_reference | as a details of case_transaction 
- [case-management].dbo.case_transaction_sla_activity | as a details of case_transaction 
- [case-management].dbo.case_transaction_sla_hop | as a details of case_transaction 

Make sure all fields are exist. 